* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* navbar  */

.header {
    position: relative;
}

.head-nav {
    position: absolute;
    top: 20px;
    left: 30px;
}

.nav-link {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    position: absolute;
    top: 45px;
    left: 130px;
}

.bp {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 1200px;
}

.pp {
    position: absolute;
    top: 45px;
    right: 300px;
}

.b1 {
    width: 80px;
    height: 30px;
    font-size: 15px;
    border-radius: 25px;
    background-color: white;
    color: black;
    position: absolute;
    top: 35px;
    right: 150px;
}

.b2 {
    width: 80px;
    height: 30px;
    font-size: 15px;
    border-radius: 25px;
    background-color: black;
    color: white;
    position: absolute;
    top: 35px;
    right: 50px;
}

/* main  */
.main {
    position: relative;
}

.ph-ma {
    width: 95%;
    height: 600px;
    background-color: #32462f;
    color: white;
    position: absolute;
    top: 130px;
    left: 35px;
}

.h11 {
    font-size: 60px;
    position: absolute;
    top: 145px;
    left: 910px;
}

.h111 {
    font-size: 60px;
    position: absolute;
    top: 220px;
    left: 1030px;
}

.p1 {
    font-size: 25px;
    position: absolute;
    top: 320px;
    left: 900px;
}

.b3 {
    font-size: 25px;
    background-color: #3d8032;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 450px;
    left: 1030px;
}

.photo-main2 {
    position: relative;
}

.ph-ma2 {
    width: 95%;
    height: 400px;
    background-color: #32462f;
    color: white;
    position: absolute;
    top: 780px;
    left: 35px;
}

.h22 {
    font-size: 35px;
    position: absolute;
    top: 90px;
    left: 140px;
}

.p2 {
    font-size: 25px;
    position: absolute;
    top: 150px;
    left: 100px;
}

.b4 {
    font-size: 25px;
    background-color: #3d8032;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 290px;
    left: 320px;
}

.ph-m3 {
    position: absolute;
    left: 715px;
}

.main3 {
    position: relative;
}

.ph-ma3 {
    width: 95%;
    height: 600px;
    background-color: #32462f;
    color: white;
    position: absolute;
    top: 1230px;
    left: 35px;
}

.h33 {
    font-size: 60px;
    position: absolute;
    top: 145px;
    left: 910px;
}

.h333 {
    font-size: 60px;
    position: absolute;
    top: 220px;
    left: 1030px;
}

.p3 {
    font-size: 25px;
    position: absolute;
    top: 320px;
    left: 900px;
}

.b5 {
    font-size: 25px;
    background-color: #3d8032;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 450px;
    left: 1030px;
}

.photo-main4 {
    position: relative;
}

.ph-ma4 {
    width: 95%;
    height: 400px;
    background-color: #32462f;
    color: white;
    position: absolute;
    top: 1880px;
    left: 35px;
}

.h44 {
    font-size: 45px;
    position: absolute;
    top: 70px;
    left: 190px;
}

.p4 {
    font-size: 25px;
    position: absolute;
    top: 190px;
    left: 140px;
}

.b6 {
    font-size: 25px;
    background-color: #3d8032;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 290px;
    left: 290px;
}

.ph-m4 {
    position: absolute;
    left: 715px;
}

.main5 {
    position: relative;
}

.ph-ma5 {
    width: 95%;
    height: 600px;
    background-color: #32462f;
    color: white;
    position: absolute;
    top: 2330px;
    left: 35px;
}

.h55 {
    font-size: 60px;
    position: absolute;
    top: 145px;
    left: 910px;
}

.h555 {
    font-size: 60px;
    position: absolute;
    top: 220px;
    left: 910px;
}

.p5 {
    font-size: 25px;
    position: absolute;
    top: 320px;
    left: 900px;
}

.b7 {
    font-size: 25px;
    background-color: #3d8032;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 490px;
    left: 1030px;
}

/* footer  */

.last-footer {
    position: relative;
}

.ppp {
    font-size: 20px;
    position: absolute;
    top: 3000px;
    left: 420px;
}

.div1 {
    position: absolute;
    top: 3150px;
    left: 50px;
}

.p7 {
    font-weight: 900;
    font-size: 20px;
}

.div2 {
    position: absolute;
    top: 3150px;
    left: 300px;
}

.div3 {
    position: absolute;
    top: 3150px;
    left: 520px;
}

.div4 {
    position: absolute;
    top: 3150px;
    left: 730px;
}

.div5 {
    position: absolute;
    top: 3150px;
    left: 990px;
}

.la-foo2{
    display: flex;
    gap: 10px;
}

.p8{
    font-size: 35px; 
    margin-top:3500px;
    margin-left: 20px; 
}

.div8{
    margin-top:3570px ;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    left: 50px;
}

.p9{
    margin-top: 3820px;
    position: absolute;
    left: 50px;
}

